.App {
  background-color: #191919;
  min-height: 100vh;
}

.Greeting {
  position: absolute;
  top: 0;
  left: 0;
  padding: 25px
}

.Messages {
  position: absolute;
  left: 0;
  top: 70px;
  padding: 25px;
}

.Users {
  position: absolute;
  right: 0;
  top: 70px;
  padding: 25px;
}

.Input {
  position: absolute;
  bottom: 0;
  padding: 25px;
  left: 0;
  width: 100%;
}

.Login {
  position: absolute;
  top: 0;
  z-index: 1;
  background: rgba(0,0,0,0.75);
}

.login-form {
  color: #FFFFFF;
}


